@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

@layer components {
	.max-container {
		max-width: 1440px;
		margin: 0 auto;
	}

	.input {
		@apply appearance-none bg-transparent border-none w-full text-grey mr-3 py-1 px-2 leading-tight focus:outline-none;
	}
	/* .before-gradient {
		position: relative;
	}

	.before-gradient::before {
		content: '""';
		position: absolute;
		inset: 0;
		background-image: url("/hero_gradient.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		pointer-events: none;
		z-index: 10;
	} */
	.slidingText {
		position: absolute;
		font-size: clamp(60px, 16vw, 160px);
		bottom: 20px;
		left: 0px;
		white-space: wrap;
		color: #ffffff09;
		width: 100%;
		font-weight: bold;
		line-height: 1;
		z-index: 2;
	}
}

@layer utilities {
	.padding {
		@apply sm:px-16 px-8 sm:py-24 py-12;
	}

	.padding-x {
		@apply sm:px-12 px-8;
	}

	.padding-y {
		@apply sm:py-24 py-12;
	}

	.padding-l {
		@apply sm:pl-16 pl-8;
	}

	.padding-r {
		@apply sm:pr-16 pr-8;
	}

	.padding-t {
		@apply sm:pt-24 pt-12;
	}

	.padding-b {
		@apply sm:pb-24 pb-12;
	}

	.info-text {
		@apply font-inter text-slate-gray text-lg leading-7;
	}
	.about-gradient {
		@apply before:absolute before:inset-0 before:bg-gradient2 before:w-full before:h-full before:bg-no-repeat before:bg-center before:bg-cover before:pointer-events-none before:z-10;
	}
	.hero-gradient {
		@apply before:absolute before:inset-0 before:bg-gradient before:w-full before:h-full  before:bg-no-repeat before:bg-center before:bg-cover before:pointer-events-none before:z-10;
	}
	.about-paragraph {
		@apply text-base lg:text-xl xl:text-2xl xl:leading-normal text-gray leading-tight z-20 relative;
	}
	.about-square1 {
		@apply relative z-20 aspect-square border-[3px] border-gray rounded-md hidden md:inline-block md:row-start-1 md:row-span-3 md:col-start-1 md:col-span-3;
	}
	.about-square2 {
		@apply hidden relative z-20 aspect-square md:block md:col-start-2 md:col-span-3 md:row-start-4 md:row-span-3 bg-no-repeat bg-contain bg-[url('/about.png')] -translate-y-[100px] rounded-md;
	}
}
